<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body style="font-family: 'Trirong', serif;" class="bg-success">
    <div style="height: 750px;" class="d-flex align-items-center">
        <div style="background:linear-gradient(to top,rgba(0, 0, 0, 0.511),rgba(0, 0, 0, 0.532)); width: 100%;" >
            <h1 class="d-flex justify-content-center" style=" color: white;">thank you {{name}}</h1>
            <h3 class="d-flex justify-content-center" style=" color: white; font-style: italic;">You are successfully login</h3>
        </div>
        
</div>
</body>
</html>